.p-right{
    padding-left: 5rem;
}
.movie-link:hover{ 
transform: scale(1.6);
z-index: 1000;
transition:all 0.3s ease-in-out;
margin: 0 40px;
}

/* .movies .movie-item:hover {
    transform: translate(-70px ,0)!important;
} */


.movieInfo{ opacity: 0;}


.movie-item:hover .movieInfo{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.rec-pagination{ 
    display: none !important;;
}
.movies { 
    height:160px;
}



