.p-right {
  padding-left: 5rem;
}

.movies {
  position: relative;
  transform: translate(0px, 0px);
}
.movies .movie-link:hover::after {
  transform: translate(-50px);
}

.movie-link:hover {
  transform: scale(1.5);
  object-fit: cover;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
  margin: 0 40px;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 133px;
  width: 257px;
}

.movieInfo {
  opacity: 0;
}

.movie-item:hover .movieInfo {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.movies {
  height: 160px;
}
.movies-section { 
    position: relative;
    width: 1100px;
    margin: auto;
}

.next {
  position: absolute;
  width: 50px;
  height: 160px;
bottom: 3%;
  z-index: 50;
  right:  -5%;
  background-color:  rgba(0, 0, 0, 0.404);
}

.prev {
    z-index: 50;
  background-color: rgba(0, 0, 0, 0.404);
  position: absolute;
bottom: 3%;
left: -5%;
  width: 50px;
  height: 160px;
}
