.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: gray;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 20;
}

.modal-content {
    margin: 300px auto;
    background-color: white;
    width: 40%;
    height: 40%;
    text-align: center;
}